* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Jost";
    }

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 32px;
    padding: 24px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 475px;
    border-radius: 16px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
}

form h1{
    font-size: 3em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fields{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.fields div{
    margin-top: 10px;
}

.fields input{
    width: 230px;
    outline: 1px solid lightgrey;
    border-radius: 4px;
}

/* .fields input:focus{
    border: 2px solid rgb(82, 183, 217);
    border-radius: 4px;
    } */

.terms{
    background-color: #f2f2f2;
    padding: 10px 100px 10px 100px;
    border-radius: 6px;
}

.error{
    display: none;
    margin-top: 30px;
    font-weight: bold;
    text-align: center;
    background-color: hsla(333deg, 100%, 44%, 0.25);
    padding: 15px 20px 15px 20px;
    border-radius: 6px;
}

footer{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type=reset]{
    color: white;
    padding: 12px 42px;
    border-radius: 8px;
    font-weight: bold;
    background-color: hsl(333deg, 100%, 44%);
}

input[type=submit]{
    color: white;
    padding: 12px 42px;
    border-radius: 8px;
    font-weight: bold;
    background-color: hsl(256deg, 100%, 44%);
}

.failedValidation{
    border: 3px solid hsl(333deg, 100%, 44%);
    border-radius: 4px;
    }