/* minor CSS reset */
/* You should not need to change anything here */
html,
body,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ADD CSS BELOW */

body {
  width: 1500px;
  height: auto;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: "Bangers", cursive;
  margin: 15px 0 15px 0;
}

h1 {
  font-size: 2em;
}

h2{
  text-align: left;
  font-size: 1.25em;
}

h3{
  margin-top: 40px;
}

li {
  list-style: none;
}

.row {
  display: flex;
  align-items: center;
}

.col {
  width:auto;
  border: 1px;
  border-style: dashed;
  margin: 0 18px 0 0;
  background-color: lightgray;
}

.image {
  max-width: 300px;
  max-height: 150px;
  margin: 0 10px 10px 10px;
}