body {
  margin: 0;
}

.desktop-nav{
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  margin-top: 20px;
}

h1{
  display: inline-block;
  margin: 15px 20px;
}

li{
  padding: 0px 14px;
  display: inline-block;
  list-style: none;
}

.mobile-nav-button img {
  width: 18px;
}

.mobile-nav{
  display: none;
  float: right;
  margin-top: 30px;
}

@media only screen and (max-width: 800px){
  li{
    display: none;
  }
  .mobile-nav{
    display: block;
  }
}
